@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-color: #f7f7f7;
}

#root {
	font-family: -apple-system, 'Inter', serif;
	background-color: #fff;
	max-width: 95%;
	margin: 0 auto;
	min-height: 100dvh;
	width: 1020px;
	padding: 10px 32px 0;
}

.content {
	padding: 50px;
}
