@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-color: #f7f7f7;
}

#root {
	font-family: -apple-system, 'Inter', serif;
	background-color: #fff;
	max-width: 95%;
	margin: 0 auto;
	min-height: 100dvh;
	width: 1020px;
	padding: 10px 32px;
}

.content {
	padding: 50px;
}

@media screen and (max-width: 1089px) {
	#root {
		width: 100%;
		padding: 5px 8px;
	}
	input[type='text'] {
		width: 90%;
	}
}

@media screen and (max-width: 1023px) {
	#root {
		width: 100%;
		max-width: 100%;
		padding: 0;
	}
}
